<div class='news'>
	<h3> News</h3>
	<ul>


		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TCSVT accepted, 23, Feb. 2026.</li> 
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2 CVPR accepted, 21, Feb. 2026.</li> 
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TIP accepted, 14, Feb. 2026.</li> 
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TCSVT accepted, 05, Feb. 2026.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2 ICASSP accepted, 18, Jan. 2026.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TBC accepted, 14, Nov. 2025.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 AAAI Oral accepted, 08, Nov. 2025.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TIM accepted, 10, Oct. 2025.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TCSVT accepted, 30, Jun. 2025.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 PR accepted, 21, Mar. 2025.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 ICME accepted, 20, Mar. 2025.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 KBS accepted, 18, Jan. 2025.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TCSVT accepted, 18, Jul. 2024.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 ICME accepted, 20, Mar. 2024.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 AAAI accepted, 10, Dec. 2023.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 ICIP accepted, 15, Jun. 2023.</li>
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TMM accepted, 23, Mar. 2023.</li> 
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TCSVT accepted, 20, Sep. 2022.</li> 
		<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TMM accepted, 08, Aug. 2022.</li> 
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TCSVT accepted, Sep. 2021.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>Received the <a href="https://www.cie-info.org.cn/site/content/3474.html">“2019 Excellent Doctoral Dissertation Award of CIE”</a>.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>1 TCSVT accepted.</li>
		
	</ul>
</div>
